<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add task</title>
</head>
<style>
    h1{
    color:#00e5ff;
}
body{
    background-color: black;
}
label{
    color: #00e5ff;
}

</style>
<body>
    <h1>Add new Task</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Add Task</button>
        <!-- <label>Task</label><br>
        <input type="text" name="title" required><br><br>
        <button type="submit">Submit Task</button> -->
    </form>
</body>
</html>